[submodule "libs/39f217ce1071c9b8aa11ac42347c932b"]
	path = libs/kicad-make
	url = https://github.com/snhobbs/kicad-make.git
[submodule "libs/kikit"]
	path = libs/kikit
	url = https://github.com/snhobbs/kikit
[submodule "libs/pcbnewTransition"]
	path = libs/pcbnewTransition
	url = https://github.com/snhobbs/pcbnewTransition.git
[submodule "example/projects/lumenpnp"]
	path = example/projects/lumenpnp
	url = git@github.com:TheJigsApp/lumenpnp
